/*自適應小尺寸電腦板*/
@media (min-width: 400px) and (max-width:1280px){
    .section-btn {
        text-align: center;
        position: fixed;
        bottom: 7%;
        right: 0;
        width: 100%;
        margin: 0 auto;
    }
    .section-btn li { display:inline-block;}

    .arrow {
        display: none;
    }

    .section-wrap .section .title {
        padding-bottom:0;
    }

    .rule-wrap {
        width:90%;
    }

    .login-block {
        border-radius: 2em;
    }

    .row-head-colspan {
        border-radius: 2em 2em 0 0;
    }

    .marqueetop {
        border-radius: 0 0 2em 2em;
    }

}



/*自適應手機板*/
@media (max-width:399px){
    .section-btn {
        display: none;
    }

    .rule-wrap {
        width:90%;
    }

    .login-block {
        border-radius: 1em;
    }

    .content {
        width:90%;
    }

    .section-1 .bg1 {
        background: url(../images/in_ph01.jpg?0420) no-repeat -425px 50%;
        width: auto;
        height: 185px;
        background-size: cover;
    }

    .section-1 .bg2 {
        background: url(../images/in_ph02.jpg?0420) no-repeat -425px 50%;
        width: 100%;
        height: 185px;
        background-size: cover;
    }

    .section-1 .bg3 {
        background: url(../images/in_ph03.jpg?0420) no-repeat -425px 50%;
        width: 100%;
        height: 185px;
        background-size: cover;
    }

    .section-1 .bg4 {
        background: url(../images/in_ph04.jpg?0420) no-repeat -430px 50%;
        width: 100%;
        height: 185px;
        background-size: cover;
    }

    .mg-top{
        margin-top: 50%;
    }

    .section-2 .title,.section-3 .title,.section-4 .title {
        padding: 45px 0 0;
    }

    .section-wrap .section .title.active .tit {
        font-size: 2em;
    }

    .rule-table {
        background-color: rgba(73, 41, 29, 0.8);
        border-radius: 1em;
        border: 2px solid #ffd68c;
        padding: 10px;
        overflow: auto;
        height: 475px;
    }

    .padd {
        padding:1px 0;
    }

}